# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual env
venv/
.env/

# Django static
staticfiles/
media/

# Node / React
node_modules/
build/
dist/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
